<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.coding.program.terminal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:theme="@style/ActionbarNoIcon">
        <activity
            android:name=".TerminalActivity"
            android:label="@string/terminal_activity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>