<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.coding.program"
    android:versionCode="98"
    android:versionName="3.3.2" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 友盟,腾讯push需要 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />

    <!-- 百度LBS检索 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- <uses-pexrmission android:name="android.permission.BROADCAST_STICKY" /> -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- 百度LBS定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/ActionbarNoIcon" >

        <!-- ###################注册SDK使用的Activity###################### -->
        <!-- 分享编辑页 -->
        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <!-- ############ QQ空间和QQ SSO授权的Activity注册 ############ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 100424468，如果你使用的公用账号，则不需要修改；否则修改成你在QQ开放平台申请的 APP ID -->
                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 【必须】 信鸽receiver广播接收 -->
        <receiver
            android:name="com.tencent.android.tpush.XGPushReceiver"
            android:process=":xg_service_v2" >
            <intent-filter android:priority="0x7fffffff" >

                <!-- 【必须】 信鸽SDK的内部广播 -->
                <action android:name="com.tencent.android.tpush.action.SDK" />
                <action android:name="com.tencent.android.tpush.action.INTERNAL_PUSH_MESSAGE" />
                <!-- 【必须】 系统广播：开屏和网络切换 -->
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <!-- 【可选】 一些常用的系统广播，增强信鸽service的复活机会，请根据需要选择。当然，你也可以添加APP自定义的一些广播让启动service -->
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <!-- 【必须】 (2.30及以上版新增)展示通知的activity -->
        <!-- 【注意】 如果被打开的activity是启动模式为SingleTop，SingleTask或SingleInstance，请根据通知的异常自查列表第8点处理 -->
        <activity
            android:name="com.tencent.android.tpush.XGPushActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action" />
            </intent-filter>
        </activity>

        <!-- 【必须】 信鸽service -->
        <service
            android:name="com.tencent.android.tpush.service.XGPushService"
            android:exported="true"
            android:persistent="true"
            android:process=":xg_service_v2" />
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <receiver android:name=".common.PushReceiver" >
            <intent-filter>

                <!-- 接收消息透传 -->
                <action android:name="com.tencent.android.tpush.action.PUSH_MESSAGE" />
                <!-- 监听注册、反注册、设置/删除标签、通知被点击等处理结果 -->
                <action android:name="com.tencent.android.tpush.action.FEEDBACK" />
            </intent-filter>
        </receiver>

        <!-- 【必须】 通知service，此选项有助于提高抵达率 -->
        <service
            android:name="com.tencent.android.tpush.rpc.XGRemoteService"
            android:exported="true" >
            <intent-filter>
                <action android:name="net.coding.program.PUSH_ACTION" />
            </intent-filter>
        </service>

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel" />

        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name=".MainActivity_"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/ActionbarSpannerTheme1" />
        <activity
            android:name=".LoginActivity_"
            android:icon="@drawable/ic_lancher"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name=".project.detail.ProjectActivity_"
            android:icon="@drawable/ic_lancher"
            android:label="@string/title_activity_project"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EntranceActivity_"
            android:icon="@drawable/app_icon"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionbar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data
                    android:host="coding.net"
                    android:pathPattern="/.*"
                    android:scheme="https" />
                <data
                    android:host="m.coding.net"
                    android:pathPattern="/.*"
                    android:scheme="https" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".task.add.TaskAddActivity_"
            android:icon="@drawable/ic_lancher"
            android:label="@string/title_activity_task_add"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".project.detail.MembersActivity_"
            android:icon="@drawable/ic_lancher"
            android:label="@string/title_activity_members"
            android:screenOrientation="portrait" />
        <activity
            android:name=".project.detail.AttachmentsActivity_"
            android:icon="@drawable/ic_lancher"
            android:label="@string/title_activity_attachment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".project.detail.AttachmentsPicDetailActivity_"
            android:icon="@drawable/ic_lancher"
            android:label="@string/title_activity_attachment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".project.detail.AttachmentsHtmlDetailActivity_"
            android:icon="@drawable/ic_lancher"
            android:label="@string/title_activity_attachment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".project.detail.AttachmentsTextDetailActivity_"
            android:icon="@drawable/ic_lancher"
            android:label="@string/title_activity_attachment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".project.detail.AttachmentsDownloadDetailActivity_"
            android:icon="@drawable/ic_lancher"
            android:label="@string/title_activity_attachment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".project.detail.AttachmentsFolderSelectorActivity_"
            android:icon="@drawable/ic_lancher"
            android:label="@string/title_activity_attachment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserDetailEditActivity_"
            android:icon="@drawable/ic_lancher"
            android:label="@string/title_activity_user_info"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.SetUserInfoActivity_"
            android:icon="@drawable/ic_lancher"
            android:label="@string/title_activity_user_info"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" />
        <activity
            android:name=".user.SetUserTagActivity_"
            android:icon="@drawable/ic_lancher"
            android:label="@string/title_activity_user_info"
            android:screenOrientation="portrait" />
        <activity
            android:name=".setting.SetPasswordActivity_"
            android:icon="@drawable/ic_lancher"
            android:label="@string/title_activity_set_password"
            android:screenOrientation="portrait" />
        <activity
            android:name=".setting.FeedbackActivity_"
            android:icon="@drawable/ic_lancher"
            android:label="@string/title_activity_feedback"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" />
        <activity
            android:name=".setting.AboutActivity_"
            android:icon="@drawable/ic_lancher"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait" />
        <activity
            android:name=".project.detail.topic.TopicListDetailActivity_"
            android:icon="@drawable/ic_lancher"
            android:label="@string/title_activity_topic_comment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".project.detail.TopicAddActivity_"
            android:icon="@drawable/ic_lancher"
            android:label="@string/topic_create"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateUnspecified" />
        <activity
            android:name=".project.detail.TopicLabelActivity_"
            android:icon="@drawable/ic_lancher"
            android:label="@string/topic_label"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".maopao.MaopaoAddActivity_"
            android:icon="@drawable/app_icon"
            android:label="@string/title_activity_make_maopao"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".maopao.LocationSearchActivity_"
            android:icon="@drawable/app_icon"
            android:label="@string/title_activity_location_search"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".maopao.LocationEditActivity_"
            android:icon="@drawable/app_icon"
            android:label="@string/title_activity_location_edit"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".maopao.LocationDetailActivity_"
            android:icon="@drawable/app_icon"
            android:label="@string/title_activity_location_detail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".maopao.LocationMapActivity_"
            android:icon="@drawable/app_icon"
            android:label="@string/title_activity_location_map"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".maopao.MaopaoSearchActivity_"
            android:icon="@drawable/app_icon"
            android:label="@string/title_activity_maopao_search"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".subject.SubjectWallActivity_"
            android:icon="@drawable/app_icon"
            android:label="@string/title_activity_subject_wall"
            android:screenOrientation="portrait"
            android:theme="@style/ActionbarSpannerTheme1"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".subject.SubjectNewActivity_"
            android:icon="@drawable/app_icon"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".subject.SubjectUsersActivity_"
            android:icon="@drawable/app_icon"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".subject.SubjectDetailActivity_"
            android:icon="@drawable/app_icon"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".user.UsersListActivity_"
            android:icon="@drawable/ic_lancher"
            android:label="@string/title_activity_users"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.UserTopicActivity_"
            android:icon="@drawable/ic_lancher"
            android:label="@string/title_activity_users"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.AddFollowActivity_"
            android:icon="@drawable/ic_lancher"
            android:label="@string/title_activity_add_follow"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.UserDetailActivity_"
            android:icon="@drawable/ic_lancher"
            android:label="@string/title_activity_user_detail"
            android:screenOrientation="portrait"
            android:theme="@style/TranslateActionbar" />
        <activity
            android:name=".message.MessageListActivity_"
            android:icon="@drawable/ic_lancher"
            android:label="@string/title_activity_message_list"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ImagePagerActivity_"
            android:icon="@drawable/ic_lancher"
            android:label="" />
        <activity
            android:name=".message.NotifyListActivity_"
            android:icon="@drawable/ic_lancher"
            android:label="\@我的"
            android:screenOrientation="portrait" />
        <activity
            android:name=".maopao.LikeUsersListActivity_"
            android:icon="@drawable/ic_lancher"
            android:label="@string/title_activity_like_users_list"
            android:screenOrientation="portrait" />
        <activity
            android:name=".maopao.MaopaoDetailActivity_"
            android:icon="@drawable/ic_lancher"
            android:label="@string/title_activity_maopao_detail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustUnspecified" />
        <activity
            android:name=".user.UserMaopaoActivity"
            android:icon="@drawable/ic_lancher"
            android:label="@string/title_activity_user_maopao"
            android:screenOrientation="portrait" />
        <activity
            android:name=".project.detail.UserDynamicActivity_"
            android:icon="@drawable/ic_lancher"
            android:label="@string/title_activity_user_dynamic"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.photopick.PhotoPickDetailActivity"
            android:label="@string/title_activity_photo_pick_detail"
            android:process=":pickimage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.photopick.PhotoPickActivity"
            android:label="@string/app_name"
            android:process=":pickimage"
            android:screenOrientation="portrait"
            android:theme="@style/TranslateTheme" />
        <activity
            android:name=".project.detail.GitTreeActivity_"
            android:icon="@drawable/ic_lancher"
            android:label="@string/title_activity_git_tree"
            android:screenOrientation="portrait" />
        <activity
            android:name=".project.detail.GitViewActivity_"
            android:configChanges="orientation"
            android:icon="@drawable/ic_lancher"
            android:label="@string/title_activity_git_tree"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".setting.NotifySetting_"
            android:icon="@drawable/ic_lancher"
            android:label="@string/title_activity_notify_setting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".project.detail.MembersSelectActivity_"
            android:icon="@drawable/ic_lancher"
            android:label="@string/title_activity_members_select"
            android:screenOrientation="portrait" />
        <activity
            android:name=".project.detail.AttachmentsDetailBaseActivity_"
            android:icon="@drawable/ic_lancher"
            android:label="@string/title_activity_attachment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".task.TaskDescriptionActivity_"
            android:icon="@drawable/ic_lancher"
            android:label="@string/title_activity_task_description"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateUnspecified" />
        <activity
            android:name=".setting.AccountSetting_"
            android:icon="@drawable/ic_lancher"
            android:label="@string/title_activity_account_setting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WebActivity_"
            android:icon="@drawable/ic_lancher"
            android:label="@string/title_activity_account_setting"
            android:process=":customweb"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name=".project.SearchProjectActivity_"
            android:icon="@drawable/ic_lancher"
            android:label="@string/title_activity_search_project"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />

        <service android:name=".UpdateService" />

        <activity
            android:name=".UpdateDialogActivity"
            android:icon="@drawable/ic_lancher"
            android:label="@string/title_activity_update_dialog"
            android:theme="@android:style/Theme.Holo.Light.Dialog" />
        <activity
            android:name=".RegisterActivity_"
            android:icon="@drawable/ic_lancher"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BackActivity_"
            android:icon="@drawable/ic_lancher"
            android:label="@string/title_activity_base_annotation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.TermsActivity"
            android:icon="@drawable/ic_lancher"
            android:label="@string/title_activity_terms"
            android:screenOrientation="portrait" />
        <activity
            android:name=".setting.UpdateTipActivity"
            android:icon="@drawable/ic_lancher"
            android:label="@string/title_activity_update_tip"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog" />
        <activity
            android:name=".FileUrlActivity_"
            android:icon="@drawable/ic_lancher"
            android:label="@string/title_activity_file_url"
            android:screenOrientation="portrait" />
        <activity
            android:name=".project.ProjectHomeActivity_"
            android:label="@string/title_activity_project_home"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".MyPushReceiver"
            android:enabled="true"
            android:exported="true" >

            <!-- TODO exproted 设为 false 会被360拦截，有时间看看原因 -->
            <intent-filter>
                <action android:name="net.coding.program.MyPushReceiver.PushClickBroadcast" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".user.UserDetailMoreActivity_"
            android:label="@string/title_activity_user_detail_more"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.UserProjectActivity_"
            android:label="@string/title_activity_user_project"
            android:screenOrientation="portrait" />
        <activity
            android:name=".project.MyProjectActivity_"
            android:label="@string/title_activity_my_project"
            android:screenOrientation="portrait" />
        <!-- <activity -->
        <!-- android:name=".login.SendEmailBaseActivity" -->
        <!-- android:label="@string/title_activity_base_reset_password" > -->
        <!-- </activity> -->
        <activity
            android:name=".login.SendEmailPasswordActivity_"
            android:label="@string/title_activity_reset_password"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.SendEmailActiveActivity_"
            android:label="@string/title_activity_resend_email"
            android:screenOrientation="portrait" />

        <!-- 激活和重置密码的基类，永远不会用，但不声明编译会有error警告 -->
        <activity
            android:name=".login.SendEmailBaseActivity_"
            android:label="@string/title_activity_reset_password"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.UserActiveActivity_"
            android:label="@string/title_activity_user_active"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.ResetPasswordActivity_"
            android:label="@string/title_activity_reset_password"
            android:screenOrientation="portrait" />

        <receiver android:name=".message.MessageReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".project.init.create.ProjectCreateActivity_"
            android:label="@string/title_activity_project_create"
            android:screenOrientation="portrait" />
        <activity
            android:name=".project.init.create.ProjectTypeActivity_"
            android:label="@string/title_activity_project_type"
            android:screenOrientation="portrait" />
        <activity
            android:name=".project.init.setting.ProjectSetActivity_"
            android:label="@string/title_activity_project_set"
            android:screenOrientation="portrait" />
        <activity
            android:name=".project.init.setting.ProjectAdvanceSetActivity_"
            android:label="@string/title_activity_project_advance_set"
            android:screenOrientation="portrait" />
        <activity
            android:name=".project.git.MergeActivity_"
            android:label="@string/title_activity_merge"
            android:screenOrientation="portrait" />
        <activity
            android:name=".project.detail.merge.MergeDetailActivity_"
            android:label="@string/title_activity_merge_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".project.git.CommitListActivity_"
            android:label="@string/title_activity_commit_list"
            android:screenOrientation="portrait" />
        <activity
            android:name=".project.detail.merge.CommentActivity_"
            android:label="@string/title_activity_comment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />
        <activity
            android:name=".project.detail.merge.MergeFileListActivity_"
            android:label="@string/title_activity_merge_file_list"
            android:screenOrientation="portrait" />
        <activity
            android:name=".project.detail.merge.CommitFileListActivity_"
            android:label="@string/title_activity_commit_file_list"
            android:screenOrientation="portrait" />
        <activity
            android:name=".project.detail.merge.MergeAcceptActivity_"
            android:label="@string/title_activity_merge_accept"
            android:screenOrientation="portrait" />
        <activity
            android:name=".project.detail.merge.MergeFileDetailActivity_"
            android:label="@string/title_activity_merge_file_detail"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".project.git.BranchCommitListActivity_"
            android:label="@string/title_activity_branch_commit_list"
            android:screenOrientation="portrait" />
        <activity
            android:name=".project.git.BranchMainActivity_"
            android:label="@string/title_activity_branch_main"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.guide.GuideActivity"
            android:label="@string/title_activity_guide"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".project.detail.merge.SourceActivity_"
            android:label="@string/title_activity_source"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".login.auth.AuthListActivity"
            android:label="@string/auth_list_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.auth.QRScanActivity"
            android:label="@string/qr_scan_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.auth.Login2FATipActivity"
            android:label="@string/title_activity_login2_fatip"
            android:screenOrientation="portrait" />
        <activity
            android:name=".task.add.PickProjectActivity_"
            android:label="@string/title_activity_pick_project"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.UserPointActivity_"
            android:label="@string/title_activity_user_point"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.guide.feature.FeatureActivity_"
            android:label="@string/title_activity_feature"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name=".project.detail.FileHistoryActivity_"
            android:label="@string/title_activity_file_history"
            android:screenOrientation="portrait" />
        <activity
            android:name=".project.detail.file.FileDynamicActivity_"
            android:label="@string/title_activity_file_dynamic"
            android:screenOrientation="portrait" />
        <activity
            android:name=".project.detail.file.TxtEditActivity_"
            android:label="@string/title_activity_txt_edit"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateUnspecified" />
        <activity
            android:name=".project.detail.file.MarkdownEditActivity_"
            android:label="@string/title_activity_markdown_edit"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateUnspecified" />
        <activity
            android:name=".project.detail.AttachmentsPhotoDetailActivity_"
            android:label="@string/title_activity_attachments_photo_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".project.detail.file.ShareFileLinkActivity_"
            android:label="@string/title_activity_share_file_link"
            android:screenOrientation="portrait" />
        <activity
            android:name=".maopao.InformMaopaoActivity_"
            android:label="@string/title_activity_inform_maopao"
            android:screenOrientation="portrait" />
        <activity
            android:name=".maopao.share.ShareSinaHelpActivity"
            android:label="@string/title_activity_share_sina_help"
            android:screenOrientation="portrait"
            android:theme="@style/TranslateThemeFull" />
        <activity
            android:name=".login.ZhongQiuGuideActivity"
            android:label="@string/title_activity_zhong_qiu_guide"
            android:screenOrientation="portrait"
            android:theme="@style/TranslateThemeFull" />
        <activity
            android:name=".Test2Activity"
            android:label="@string/title_activity_test2"
            android:theme="@style/TranslateTheme" />
        <activity
            android:name=".project.git.ForksListActivity_"
            android:label="@string/title_activity_forks_list"
            android:screenOrientation="portrait" />
        <activity
            android:name=".project.detail.file.LocalProjectFileActivity_"
            android:label="@string/title_activity_local_project_file"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".project.detail.file.LocalFileListActivity_"
            android:label="@string/title_activity_local_file_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".project.init.setting.ProjectTransferActivity_"
            android:label="@string/title_activity_project_transfer"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".task.AllTasksActivity_"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_all_tasks" >
        </activity>
    </application>

</manifest>
